// Squirrelstrap. © 2012 Artem Sapegin http://sapegin.me
// Functions and mixins

@import 'nib/gradients';
@import 'nib/vendor';
// @import 'nib/flex';


//
// Useful constansts
//
ease-out-quint = cubic-bezier(0.23,1,0.32,1);


//
// Properties shortcuts
//

// Opacity
opacity(n)
	opacity n
	val = round(n * 100)
	if val == 100
		filter none
	else
		filter 'alpha(opacity=%s)' % val


//
// Colors
//

// Changes color opacity
hslaa(color, opacity)
	rgba(red(color), green(color), blue(color), opacity)

// White color with transparency
white(opacity)
	rgba(255, 255, 255, opacity)

// Black color with transparency
black(opacity)
	rgba(0, 0, 0, opacity)


//
// Helper functions
//

// Text selection
text-selection(color, background)
	::-moz-selection
		color color
		background background
		text-shadow none
	::selection
		color color
		background background
		text-shadow none

// Disable transitions
no-transition(imp=false)
	// It is the shortest crossbrowser way
	if imp
		transition 0s !important
	else
		transition 0s

// background-image with Retina variant (path@2x.png)
retina ?= false
images-relative-root ?= '.'
if retina
	image(path, x=0, y=0)
		background url(path) x y
		@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)
			ext = extname(path)
			hdpath = dirname(path) + '/' + basename(path, ext) + '@2x' + ext
			background url(hdpath) x y
			background-size image-size(pathjoin(images-relative-root, path))
else
	image(path, x=0, y=0)
		background url(path) x y

/* Sprites:
sprite-image = "img/sprite.png";
sprite-step = 20px;
...
E {
	background-image:sprite-pos(5, 6);
}
E {
	sprite(5, 6, 36, 22);
	...
}
*/
sprite-image ?= '../images/sprite.png';
sprite-step ?= 20px;
sprite-x(x) {
	(-((x - 1)*sprite-step+1));
}
sprite-y(y) {
	(-((y - 1)*sprite-step+1));
}
sprite-pos(x, y) {
	background-position:sprite-x(x) sprite-y(y);
}
sprite(x, y, w, h) {	
	image(sprite-image, sprite-x(x), sprite-y(y))
	content:"";
	width:w;
	height:h;
}


//
// Mixins
//

// Clearfix
// https://github.com/visionmedia/nib/blob/master/lib/nib/clearfix.styl
clearfix()
	&:before
	&:after
		content ""
		display table
	&:after
		clear both
		zoom 1

// Ellipsis
ellipsis()
	overflow hidden
	text-overflow ellipsis
	white-space nowrap

// Remove columns
nocols()
	position static
	display block
	float none
	width auto

/* Font icons:
.ficon
	font-icon(IcoMoon)

	&_icon:before {
		content:"\c0ffee";
	}
*/
font-icon(font)
	display inline-block
	font-family font
	font-style normal
	speak none
	-webkit-font-smoothing antialiased
	&:link, &:visited, &:hover, &:active, &:focus
		text-decoration none
		border none
		background-image none
	span
		display none
		.no-generatedcontent &
			display block
