/* Author: {%= author_name %}, {%= author_url %}, {%= grunt.template.today('yyyy') %} */

/* Traditional typographic scale
   8 9 11 12 13 15 16 19 22 24 28 32 48 64 80 96 pixels */

body {
	background:#fff;
	color:#000;
	line-height:1.4;
	margin:0 auto;
	}
body, footer {
	max-width:{%= maxwidth %};
	}

{% if (footer !== 'no sticky footer') { %}
/* Sticky footer */
.footer { height:{%= footer %}; }
body { padding-bottom:{%= footer %}; }
{% } %}

/* Fonts

Body:
	font-family:"Hoefler Text", Cambria, Georgia, serif;

Headings:
	font-family:"Myriad Pro", "Trebuchet MS", Verdana, Geneva, sans-serif;
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; ??? Not tested
	font-family:Corbel, Verdana, Geneva, sans-serif;
	font-family:Cochin, Constantia, Georgia, serif;

Small:
	font-family:Calibri, "Trebuchet MS", "Helvetica Neue", Tahoma, sans-serif;

Monospace:
	font-family:Consolas, "Lucida Console", Monaco, "Courier New", Courier, monospace;

http://www.awayback.com/revised-font-stack/

Corbel and Hoefler Text are good fonts for iPad (but it much smaller than Georgia -- you need to make font bigger by ~2px)

*/

* { font-family:Calibri, "Trebuchet MS", "Helvetica Neue", Tahoma, sans-serif; }

/* Paul Irish's Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */
/*
@font-face {
	font-family:"Graublau Web";
	src:url("GraublauWeb.eot");
	src:local("☺"), url("GraublauWeb.woff") format("woff"), url("GraublauWeb.ttf") format("truetype");
	}
*/


/* Links */
a {
	text-decoration:none;
	border-bottom-width:1px;
	border-bottom-style:solid;
	-webkit-transition:border .1s ease-in-out, color .2s ease-in-out, background .2s ease-in-out;
	-moz-transition:border .1s ease-in-out, color .2s ease-in-out, background .2s ease-in-out;
	-o-transition:border .1s ease-in-out, color .2s ease-in-out, background .2s ease-in-out;
	transition:border .1s ease-in-out, color .2s ease-in-out, background .2s ease-in-out;
	}
a.fake {
	border-bottom-style:dotted;
	}
a:link, nav a:visited, a.fake:visited {
	color:rgb(25, 120, 200);
	border-bottom-color:rgba(25, 120, 200, .4);
	}
a:visited {
	color:rgb(140, 90, 210);
	border-bottom-color:rgba(140, 90, 210, .4);
	}
a:active {
	position:relative;
	top:1px;
	}
a:hover, a:active, nav a:hover, nav a:active, a.fake:hover, a.fake:active {
	color:rgb(0, 100, 200);
	border-bottom-color:rgba(0, 100, 190, .7);
	border-bottom-width:2px;
	}
.active, a.active:link, a.active:visited {
	background:rgb(25, 120, 200);
	color:#fff;
	border-bottom:none;
	}
a.active:hover, a.active:active {
	background:rgb(0, 100, 190);
	}


/* Selections */
::-moz-selection {
	background:#faedb1;
	color:#000;
	text-shadow:none;
	}
::selection {
	background:#faedb1;
	color:#000;
	text-shadow:none;
	}


/* iOS tap highlighting: j.mp/webkit-tap-highlight-color */
a:link {
	-webkit-tap-highlight-color:#ff5e99;
	}


/* Helper Classes */

/* Text without line breaks */
.nobr { white-space:nowrap; }

/* Numbers with smaller spaces:1 000 000 */
.number {
	word-spacing:-0.25ex;
	white-space:nowrap;
	}
