/* Author: {%= author_name %}, {%= author_url %}, {%= grunt.template.today('yyyy') %} */

body {
	background:bg-color;
	color:base-color;
	line-height:1.5;
	padding:spacer;
	font-size:16px;
	if (max-width) {
		max-width:max-width;
		margin-left:auto;
		margin-right:auto;
	}
}


// Fonts

body { font-family:"Helvetica Neue", Arial, sans-serif; }


// Headers: alpha, beta, gamma, delta, epsilon, epsilon

.alpha {
}


// Text

.text {
	a {
		@extend .link;
	}

	p {
		margin-bottom:20px;
	}
}
