<!DOCTYPE html>
<html lang="{%= lang %}" class="no-js">
<head>
	<meta charset="utf-8">
	<title></title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale={% if (mobile) { %}1.0{% } else { %}960{% } %}">{% if (mobile) { %}
	<meta name="format-detection" content="telephone=no">{% } %}

	<script src="js/libs/modernizr.js"></script>
	<link href="build/styles.css" rel="stylesheet">
	<!--[if lt IE 9]><link href="styles/ie.css" rel="stylesheet"><![endif]-->
</head>
<body>
	<header class="header">
		<h1 class="logo"><a href="/"></a></h1>
		<nav class="menu">
		</nav>
	</header>

	<footer class="footer">
	</footer>

	<!--script src="{%= jquery_path %}"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-{%= jquery_ver %}.min.js"%3E%3C/script%3E'))</script-->
	<!--script src="build/scripts.js"></script-->
</body>
</html>