<!DOCTYPE html>
<html lang="{%= lang %}" class="no-js">
<head>
	<meta charset="utf-8">
	<title></title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	{% if (mobile) { %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">{% } %}

	<script src="js/libs/modernizr.js"></script>
	<link href="css/styles.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<link href="css/ie.css" rel="stylesheet">
	<![endif]-->
</head>
<body>
	<header class="header">
		<h1 class="logo"><a href="/"></a></h1>
		<nav class="menu">
		</nav>
	</header>

	<footer class="footer">
	</footer>

	{% if (lang === 'ru') { %}
	<!--script src="http://yandex.st/jquery/{%= jquery_ver %}/jquery.min.js"></script-->{% } else { %}
	<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/{%= jquery_ver %}/jquery.min.js"></script-->{% } %}
	<!--script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-{%= jquery_ver %}.min.js"%3E%3C/script%3E'))</script-->
	<!--script src="js/main.js"></script-->
	{% if (mobile) { %}
	<script>/*! A fix for the iOS orientationchange zoom bug.Script by @scottjehl, rebound by @wilto. MIT License.*/(function(j){var i=j.document;if(!i.querySelectorAll){return}var l=i.querySelectorAll("meta[name=viewport]")[0],a=l&&l.getAttribute("content"),h=a+", maximum-scale=1.0",d=a+", maximum-scale=10.0",g=true,c=j.orientation,k=0;if(!l){return}function f(){l.setAttribute("content",d);g=true}function b(){l.setAttribute("content",h);g=false}function e(m){c=Math.abs(j.orientation);k=Math.abs(m.gamma);if(k>8&&c===0){if(g){b()}}else{if(!g){f()}}}j.addEventListener("orientationchange",f,false);j.addEventListener("deviceorientation",e,false)})(this);</script>{% } %}
</body>
</html>